.container-logo-p2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #FFF;
	z-index: $headerZindex;
	transition: $nav-transition;

	@include respond(small){
		border-bottom: 1px solid $nav-Bkg-desktop;
	}

	@include respond(large){
		border-bottom: none;
		position: relative;
		height: 0;

		.row {
			position: relative;
		}
	}

	.show-nav & {
		transform: translateX($mobile-nav-width*-1);
		transform: translate3d($mobile-nav-width*-1,0,0);

		//IE8
		.no-csstransforms & {
			position: relative;
			left: $mobile-nav-width*-1;
		}

		@include respond(large){
			transform: translateX(0);
			transform: translate3d(0,0,0);
		}
	}

	.p2-logo {
		position: absolute;
		margin: 0;
		width: 195px;
		height: 42px;
		top: 17px;
		@include respond(small){
				max-height: 31px;
				margin-top: -7px;
			}
		@include respond(large){
			margin: 0 0 0 -2.5px;
			width: 293px;
			height: 47.5px;
			top: 52.5px;
			max-height: 49px;			
		}
	}
	.p2-logo a {
		background: url('../img/general/rgb_sansshield_office_pres_update_padded.svg') center center no-repeat;
		background-size: 100% 100%;
		height: 100%;
		width: 100%;
		display: block;
	}

	.UT-nav-hamburger{
		display: block;				
		color: $hamburgerBrown;
		text-decoration: none;
		float: right;
		height: 50px;
		line-height: 50px;
		padding: 0 10px;
		font-size: rem-calc(20);

		@include respond(large){
			display: none;
		}
	}
}

.no-svg .container-logo-p2 .p2-logo a {
	position: absolute;
	margin: 0;
	width: 195px;
	height: 42px;
	top: 17px;
	background: url('../img/general/RGB_SansShield_office_pres_update.png') center center no-repeat;
	background-size: 100% 100%;
	@include respond(small){
		max-height: 31px;
		margin-top: -7px;
	}
	@include respond(large){
		left: .4rem;
		margin: 0;
		width: 291px;
		height: 65px;
		top: 54px;
		max-height: 45px;
		margin-bottom: 3px;
	}
}

