.container-topnav {
	&.container{
		padding: 0;

		@include respond(large){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	@include respond(large){
		background: $hamburgerBrown;
		height: 34px!important;
		color: #FFF;
		width: 100%;
		margin: 0;
	}

	.mobile-links {
		margin: 0;
		padding: 0 rem-calc(15);
		list-style: none;
		text-align: center;
		font-size: 0;

		@include respond(large){
			@include inline-list;
			margin-bottom: 0;
			float: right;
		}

		.nav-item-info{
			margin-top: 0px;
			width: 100%;
			padding: 0;
			.nav-link{
				line-height: 24px;
			}
		}
	}

	.nav-item-search{
		font-size: 15px;
		@include respond(large){
			display: block;
			overflow: hidden;
			float: right;
			margin-top: 20px;
			height: 40px;
		}
	}

	.nav-search-container {
		height: 35px;
		background-color: #fff;
		margin: rem-calc(15) 0 0 0;
		position: relative;

		// Drupal overrides here:
		& > form {
			height: 100%;
			margin: 0;
			& > div {
				height: 100%;
			}
			.form-item,
			.form-actions {
				height: 100%;
				margin: 0;
			}
		}

		@include respond(large){
			display: inline-block;
			border-radius: 15px;
			border: 1px solid #666;
			background-color: #fff;
			height: 30px;
			width: 220px;
			margin-top: 0px;
			margin-left: 30px;
			top: 1px;
		}

		input.nav-search-input {
			float: left;
			border: none;
			background: none;
			height: 100%;
			padding: 0 30px 0 10px;
			width: 100%;
			color: #000;
			font-size: rem-calc(14);
			outline: none;

			//IE chokes on webkit selector
			&.placeholder
			 {
				font-style: italic;
				color: #000;
			}

			&::placeholder {
				font-style: italic;
				color: #000;
			}

			@include respond(large){
				margin: 0 0 0 17px;
				padding: 0;
			}
		}

		.nav-search-button {
			position: absolute;
			top: 0;
			right: 0;
			background: none;
			border: none;
			height: 100%;
			padding: 0;
			color: $burntOrange;
			margin-right: 10px;
			font-size: rem-calc(22);
			@include respond(large){
				color: $burntOrange;
				top: -2px;
			}
		}
	}

	.media-links{
		line-height: 12px;
		display: inline-block;
		position: relative;
		top: -4px;
		padding-left: 20px;
		color: $burntGrey;
		font-weight: 600;
		font-size: rem-calc(14);
		a{
			font-weight: 100;
			line-height: inherit;
			font-size: inherit;
			color: $burntGrey;
		}
	}

	li.nav-item-info {
		text-align: center;
		margin: 12px 0 0 0;
		padding: 0;
		width: 33.333%;
		padding: 0 4px;
		display: inline-block;

		.nav-link {
			color:#fff;
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
			background:$nav-constituents-bkg;
			height: 30px;
			line-height: 30px;
			font-size: rem-calc(12);

			@include respond(large){
				font-size: rem-calc(13);
				background: none;
				width: auto;
				line-height: $topnav-height;

				&:hover,
				&:focus {
					text-decoration: underline
				}
			}
		}
	}

	// Desktop parent logos
	.parent-banner-links{
		display: none;
		@include respond(large){
			display: block;
			width: 100%;
			height: 32px;
		}

	}

	// University of Texas at Austin Topnav Logo
	.UT-core-logo {
		display: none;
		@include respond(large){
			display: inline-block;
			height: 32px;
			left: 0%;
			margin: 0;
			//background: url('../img/general/ut-horizontal-logo.png') no-repeat;
			background-size: 400px 14px;
			//min-width should be set to background-width
			min-width: 400px;
			background-position: top 8px left;
			&.no-svg{
				background: url('../img/general/ut-horizontal-logo.png') no-repeat;
			}
		}
		img {
			height:18px;
			margin-top: -25px;
		}
	}

	// Secondary Topnav Logo
	.UT-secondary-logo {
		display: none;
		@include respond(large){
			display: inline-block;
			height: 32px;
			margin: 0;
			width: 100%;
		}
	}

	.UT-tertiary-logo {
		display:none;
		@include respond(large){
			display: inline-block;
		    float: right;
		    height: 32px;
		    margin-bottom: 0;
		    img {
		    	height: 25px;
	   			margin-top: -22px;
		    }
		}
	}
	.logo-link {
		display: block;
		height: 100%;
		background: transparent;
		text-decoration: none;
	}

	//mobile topnav dropdown
	.topnav{
		.parent-links{
			display: none;
			line-height: 50px;
			color: white;
			text-align: center;
			text-decoration: none;
		}
		.parent-links a{
			text-decoration: none;
			color: #fff;
			display: block;
			font-size: rem-calc(14);
			border-bottom: 1px solid #6a6361;
			background-color: #2d2523;;
		}
		.current-directory{
			line-height: 49px;
			color: white;
			display: block;
			text-align: center;
			text-decoration: none;
			border-bottom: 1px solid #6a6361;

			&.active{
				background-color: #2d2523;
				color: $burntOrange;
				font-weight: 500;
			}

			.name{
				display: inline-block;
				font-size: rem-calc(14);
			}
			.toggle{
				font-size: rem-calc(12);
				color: white;
				width: 50px;
				height: 50px;
				float: right;
				display: inline-block;
				border-left: 1px solid #6a6361;

				&:after{
					@include icon(chevron-up);
				}

				&.active{
					&:after{
						font-size: rem-calc(16);
						@include icon(close);
					}
				}
			}
			.icon-chevron-up:before{
				position: relative;
				top: 19px;
			}
		}
// delete if necessary - theme the social icon list in the header
		.nav-item-search ul.connect-links li {
			display: inline-block;
		}
		.nav-item-search a.connect-link {
			color: #555;
			font-size: 22px;
			margin-right: 5px;
            &hover {
              text-decoration: none;
            }
		}
		ul.connect-links {
			display:inline;
			position:relative;
			top:-7px;
		}
// end delete section if changes made
	}

	// Mobile search, persona links
	.topnav-links {
		margin: 0;
		padding: 0 rem-calc(15);
		list-style: none;
		text-align: center;
		font-size: 0;

		@include respond(large){
			@include inline-list;
			margin-bottom: 0;
			float: right;
		}

		input.nav-search-input {
			@include respond(small-only, medium-only){
				margin-bottom: 0px;
			}

		}
		.media-links a{
			color: #fff;
			position: absolute;
			text-align: right;
			top: 12px;
			left: 120px;
			width: 100px;
		}
		.persona-link{
			margin: 12px 0 0 0;
			width: 33.333%;

			@include respond(small-only, medium-only){
				display: inline-block !important;
			}
		}
	}
}
.container-topnav {
	&.container{
		.nav-item-search.show-for-large-up{
			.topnav-constituents{
				color: #2d2a28;
				display: inline-block;
				font-size: 0.875rem;
				font-weight: 600;
				line-height: 12px;
				padding-left: 20px;
				position: relative;
				top: -4px;
			}
			li.nav-item {
				color: #2d2a28;
				display: inline-block;
				font-size: 0.875rem;
				font-weight: 600;
				line-height: 12px;
				padding-left: 20px;
				position: relative;
				top: -4px;
				a{
					color: #2d2a28;
					font-size: inherit;
					font-weight: 100;
					line-height: inherit;
				}
			}
		}
	}
}

.container-topnav{
	height: 32px;
	padding: 0;
	@include respond(large){
		background:#bf5700;
	}
	.topnav.knockout_logo .UT-secondary-logo {
	  width: 113.2px;
	  height: 26px;
	  margin-top: 4.4px;
	}
	.topnav.knockout_logo .UT-secondary-logo a {
	  background: url("../img/general/knockout_university_informal_horizontal_padded.svg") no-repeat scroll 0 0 / 100% 100%;
	}
	.topnav.short_logo .UT-secondary-logo {
	  width: 93px;
	  height: 24px;
	  margin-top: 5px;
	}
	.topnav.short_logo .UT-secondary-logo a {
	  background: url("../img/general/texas_white.png") no-repeat scroll 0 0 / 100% 100%;
	}
	.topnav.long_logo .UT-secondary-logo {
	  width: 400px;
	  height: 14px;
	  margin-top: 9px;
	}
	.topnav.long_logo .UT-secondary-logo a {
	  background: url("../img/general/ut-horizontal-logo.png") no-repeat scroll 0 0 / 100% 100%;
	}
}
.no-svg .topnav.knockout_logo .UT-secondary-logo a {
    background: url("../img/general/texas_shield.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-position: 0 0;
}
