// Global Styles and Resets

.UT-page {
	padding-top: 50px;
	z-index: $pageZindex;

	@include respond(large) {
		padding-top: 0;
	}
	@include respond(small-only, medium-only) {
		overflow: hidden;
	}
}
.container{
	padding-left: 5px;
	padding-right: 5px;

	@include respond(large){
		padding-left: 10px;
		padding-right: 10px;
	}
}

input[type="text"]{
	box-shadow: none;
}
input[type="text"]:focus{
	box-shadow: none;
}
/*
//Removes IE “clear field” on input fields
input::-ms-clear { display: none; }
input::-ms-clear { visibility: hidden; }
//Removes IE Default on select dropdowns
select::-ms-expand { display: none; }

// Remove Outline width rather than entire outline so it can easily be added back in
button:focus{
	outline-width: 0px;
}
*/

.page-404, .page-403{
	.container-top{
		padding: 20px 0;
		@include respond(medium){
			padding: 40px 0;
		}
	}
	.page-title{
		margin: 0 0 20px 0;
	}
	.not-found, .not-found p{
		margin-bottom: 0px;
	}
	p{
		font-family: $opensans
	}
	ul{
		list-style-type: none !important;
		padding-left: 0px;
	}
}

/*******   accessibility related overrides  ************/

span.form-required {
	color:#000;
}
.tabs.primary li a {
	background:#efefef;
	color:#000000;
}

