// Global Styles and Resets

body {
	font-family: $opensans;
}

.UT-page {
	z-index: $pageZindex;
    clear: both;
	@include respond(large) {
		padding-top: 0;
	}
	@include respond(small-only, medium-only) {
		overflow: hidden;
	}
}
.container{
	padding-left: 5px;
	padding-right: 5px;

	@include respond(large){
		padding-left: 10px;
		padding-right: 10px;
	}
}

input[type="text"]{
	box-shadow: none;
}
input[type="text"]:focus{
	box-shadow: none;
}

.page-404, .page-403{
	.container-top{
		padding: 20px 0;
		@include respond(medium){
			padding: 40px 0;
		}
	}
	.page-title{
		margin: 0 0 20px 0;
	}
	.not-found, .not-found p{
		margin-bottom: 0px;
	}
	p{
		font-family: $opensans
	}
	ul{
		list-style-type: none !important;
		padding-left: 0px;
	}
}

/*******   accessibility related overrides  ************/

span.form-required {
	color:#000;
}
.tabs.primary li a {
	background:#efefef;
	color:#000000;
}

/**********  control margins/padding on fields blocks and containers  *********/

.block-fieldblock {
	margin-bottom:25px;
	@include respond(medium){
		margin-bottom: 40px;
	}
}
.sidebar-content .block-fieldblock {
	margin-bottom:25px;
	@include respond(medium){
		margin-bottom: 35px;
	}
	&:last-child {
		margin-bottom:40px;
	}
}
.container.container-bottom {
	padding-top: 25px;
	@include respond(medium) {
		padding-top: 40px;
	}
}
.node-type-landing-page .container.container-top {
	padding-top: 25px;
	@include respond(medium) {
		padding-top: 40px;
	}	
}

/********* set views tables background to white **************/
.views-table {
  tr.even, tr.odd {
    background: #fff;
  }
}

.default-page {
	.container-top {
		border-bottom: none;
	}
}

/************ accessibility related overrides *******************/
.edit-links a {
	color: $burntOrangeAccent;
}