.field_utexas_promo_list {
	.utexas-promo-list-wrapper {
		.post-headline {
			border-bottom: 2px solid #3c87a3;
			margin: 0 0 20px;
			padding-bottom: 7px;
			font-weight: 600;
		}
		ul {
			margin: 0;
			padding: 0;
			@include respond(medium) {
				padding: 0 5px;
			}
			@include respond(large) {
				padding: 0 20px;
			}
		}
		ul,
		li {
			display: block;
			overflow: hidden;
		}
	}
}
.two-column .promo-list-li   {
    min-width: 0!important;
    @include respond(large){
        float:left;
        display:flex;
        width:100%;
	}
}
.utexas-promo-field.utexas-promo-list  {
    @include respond(large) {
    	list-style-type: none;
    }
}
.utexas-promo-field.utexas-promo-list+.utexas-promo-list  {
    border-top: 1px solid #e1ddd2;
    padding-top: 20px;
}
.utexas-promo-field .promo-image  {
    float: left;
    margin: 0 10px 5px;
    @include respond(medium){
    	margin: 0 15px 0 0;
    }
    @include respond (large) {
    	margin: 0 20px 0 0;
    }
}
.utexas-promo-field.utexas-promo-list .promo-image  {
    height: 63.92px;
    margin-right: 12px;
    margin-left: 0px;
    width: 63.92px;
    @include respond (medium) {
	    height: 68px;
	    margin-top: 5px;
	    width: 68px;
    }
    @include respond (large) {
        height: 85px;
    	width: 85px;
    }
}
.utexas-promo-field.utexas-promo-list .promo-headline  {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.25rem;
}
.utexas-promo-field.utexas-promo-list .promo-copy  {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0px;
    padding-top: 2px;
    @include respond (medium) {
    	margin-top: 2px;
    }
}
.utexas-promo-field .promo-copy p  {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}
.utexas-promo-field .promo-copy  {
    font-family: CharisSILW, serif;
}