.field_gift_link{
	margin-bottom:20px;
	@include respond(medium) {
		margin-bottom:40px;
	}
	background-color: $burntOrange;
	border: 2px solid $burntOrangeAccent;
	max-width: 300px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#bf5700), color-stop(100%,#a04400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bf5700 39%,#a04400 100%); /* Chrome10+,Safari5.1+ */

	&:hover{
		background: $burntOrangeAccent;
	}

	@include respond(small-only){
		margin: 0 auto;
		max-width: 245px;
	}

	.burst-wrapper{
		background: url('../img/give/starburst.png') right top no-repeat;
		// background: url('../img/give/starburst.svg') right top no-repeat, none;
		background-size: 80%;
	}

	.tower-wrapper{
		background: url('../img/give/tower.png') right 12px top 4px no-repeat;
		// background: url('../img/give/tower.svg') right 12px top 4px no-repeat, none;
		background-size: 28%;
	}

	.gift-cta{
		display: block;
		font-size: rem-calc(24);
		line-height: rem-calc(30);
		padding: 10px 20px;
		min-height: 65px;
		color: #fff;
		text-decoration: none;
		text-rendering: optimizeLegibility;

		@include respond(small-only){
			min-height: 70px;
		}

		span{
			max-width: 65%;
			display: block;
		}

	}

	&:hover{
		background: $burntOrangeAccent;
	}
}
