.field_utexas_hero_photo{

	.hero-caption{
		font-family: $charis;
		@include respond(medium){
			padding: 10px 0 0 0;
		}

		p{
			font-size: rem-calc(12);
			line-height: rem-calc(15);
			@include respond(medium){
				font-size: rem-calc(14);
				line-height: rem-calc(20);
			}
		}

		.caption-copy{
			font-style: italic;
			color: #6a6a6a;

			&.full {
				display: block;
			}
		}
	}
}

.container-bottom{
	.field_utexas_hero_photo{
		.hero-caption{
			margin-bottom: 10px;
		}
	}
}

.field_utexas_hero_photo{
	margin-bottom:20px;
	@include respond(large){
		margin-bottom: 40px;
	}
}

