$list-large-img-width: 85px;
$list-large-img-height: 85px;
$unit-large-img-width: 220px;
$unit-large-img-height: 140px;

$list-medium-img-width: $list-large-img-width * .80;
$list-medium-img-height: $list-large-img-height * .80;
$unit-medium-img-width: $unit-large-img-width * .80;
$unit-medium-img-height: $unit-large-img-height * .80;

$list-small-img-width: $list-medium-img-width * .94;
$list-small-img-height: $list-medium-img-height * .94;
$unit-small-img-width: $unit-medium-img-width * .60;
$unit-small-img-height: $unit-medium-img-height * .60;

$lightest-gray: #f8f8f8;
$lighter-gray: #f3f0e8;
$light-grey-border: #e1ddd2;

.promo-field {
  &.promo-list {
    padding: 0 0 20px;
    @include respond(large) {
      list-style-type: none;
      .content {
        margin-left: 105px;
      }
    }
    & + .promo-list {
      border-top: 1px solid $light-grey-border;
      padding-top: 20px;
    }
  }
  &.promo-unit {
    background-color: $lightest-gray;
    border: 1px solid $lighter-gray;
    display: block;
    margin: 0 0 10px 0;
    overflow: hidden;
    padding: 10px;
    @include respond(medium) {
      margin-bottom: 20px;
      padding: 15px;
    }
    @include respond(large) {
      padding: 20px;
    }
  }

  // ===
  // Images
  // ===
  .promo-image-link {
    display: block;
  }
  .promo-image {
    float: left;
    margin: 0 10px 5px;
    @include respond(medium) {
      margin: 0 15px 0 0;
    }
    @include respond(large) {
      margin: 0 20px 0 0;
    }
  }
  // Promo List specific styles for images:
  &.promo-list .promo-image {
    display: inline-block;
    height: $list-small-img-height;
    margin-right: 12px;
    margin-left: 0px;
    width: $list-small-img-width;
    @include respond(medium) {
      height: $list-medium-img-height;
      margin-top: 5px;
      width: $list-medium-img-width;
    }
    @include respond(large) {
      height: $list-large-img-height;
      width: $list-large-img-width;
    }
  }
  // Promo Unit specific styles for images:
  &.promo-unit .promo-image {
    border: 1px solid #cbcbcb;
    height: $unit-small-img-height;
    margin-left: 0;
    margin-bottom: 0;
    width: $unit-small-img-width;
    @include respond(medium) {
      width: $unit-medium-img-width;
      height: $unit-medium-img-height;
    }
    @include respond(large) {
      width: $unit-large-img-width;
      height: $unit-large-img-height;
    }
  }

  // ===
  // Headlines
  // ===
  .promo-headline {
    margin: 0;
    font-weight: 600;
  }
  // Promo List specific styles for headlines:
  &.promo-list .promo-headline {
    font-size: rem-calc(18px);
    font-weight: normal;
    line-height: rem-calc(20px);
    .cta-link{
       display: inline;
    }
  }
  // Promo Unit specific styles for headlines:
  &.promo-unit .promo-headline {
    color: $navy;
    font-size: rem-calc(15px);
    line-height: rem-calc(22px);
    margin: 0 0 4px;
    @include respond(medium) {
      font-size: rem-calc(20px);
      line-height: rem-calc(26px);
      margin: 0 0 6px;
    }
  }

  // ===
  // Copy
  // ===
  .promo-copy {
    font-family: $charis;
    p {
      margin: 0;
      font-size: inherit;
      line-height: inherit;
    }
  }
  // Promo List specific styles for copy:
  &.promo-list .promo-copy {
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    margin: 0px;
    padding-top: 2px;
    @include respond(small-only) {
      margin-top: 2px;
    }
  }
  // Promo Unit specific styles for copy:
  &.promo-unit .promo-copy,
  &.promo-unit .cta-wrapper {
    font-size: rem-calc(15);
    line-height: rem-calc(22);
    margin: 5px 0 0 0;
    @include respond(small-only) {
      display: inline;
      p {
        display: inline;
      }
    }
    @include respond(medium) {
      display: block;
      font-size: rem-calc(16);
      margin-top: 0px;
      padding-left: $unit-medium-img-width + 14px;
    }
    @include respond(large) {
      padding-left: $unit-large-img-width + 10px;
    }
    p {
      margin: 0 0 6px;
    }
  }
}
