.container-logo-p2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #fff;
	z-index: $headerZindex;
	transition: $nav-transition;
    margin-left: auto;
    margin-right: auto;
	@include respond(large){
		border-bottom: none;
		position: relative;
		height: 0;
        margin-left: inherit;
        margin-right: inherit;
        width: 100%;
		.row {
			position: relative;
		}
	}

	.show-nav & {
		transform: translateX($mobile-nav-width*-1);
		transform: translate3d($mobile-nav-width*-1,0,0);

		//IE8
		.no-csstransforms & {
			position: relative;
			left: $mobile-nav-width*-1;
		}

		@include respond(large){
			transform: translateX(0);
			transform: translate3d(0,0,0);
		}
	}

	.p2-logo {
      position: absolute;
      height: 100px;
      @include respond(large){
        top: 52.5px;
        height: auto;
      }
      @include respond(small-only) {
        top: 0;
        height: 100px;
        max-width: 100%;
      }
	}

    .main_logo {
        max-height: 60px;
        margin-top: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include respond(large) {
          margin-top: -3px;
          top: inherit;
          transform: none;
        }
    }

    @media (max-width: 500px) {
      .p2-logo, .main-logo {
        width: 90%;
      }
      .main_logo {
        max-width: 90%;
      }
    }

	.UT-nav-hamburger{
		display: block;				
		color: $burntOrange;
		text-decoration: none;
		float: right;
		height: 100px;
		line-height: 100px;
		padding: 0 10px;
		font-size: rem-calc(20);
		@include respond(large){
          display: none;
          color: $hamburgerBrown;
		}
	}
}

// add styles for tall logo

.UT-header.theme1.tall_logo {
  .container-logo-p2 .main_logo {
    max-height: 75px;
    @include respond(large) {
      max-height: 100px;
    }
  }
  .container.container-nav.container-nav-phase2 {
    height: 175px;
  }
  .nav-item-search.show-for-large-up {
    margin-bottom: 50px;
  }
}





