.subnav{
	font-family: $opensans;
	margin-top: 10px;

	@include respond(medium){
		margin-top: 30px;
		margin-bottom: 50px;
		padding-right: 30px;
		padding-left: 5px;
	}
	ul{
		list-style-type: none;
		padding-left: 0px;

		ul{
			padding-left: 15px;
			margin: 10px 0;

			li{
				font-weight: 400;
				font-size: rem-calc(13);
				line-height: rem-calc(17);
				padding: 5px 3px 5px 15px;
				margin: 4px 0 12px 0;
				border-left: 1px solid $light-grey-border;
			}
		}
	}
	li{
		font-weight: 500;
		font-size: rem-calc(14);
		line-height: rem-calc(20);
		padding: 7px 5px 7px 15px;
		border-left: 1px solid $light-grey-border;
		margin-bottom: 10px;

		a{
			text-decoration: none;
			font-style: normal;
			font-family: $opensans;
		}

		&:hover{
			background-color: $burntOrange;
			a{
				color: #fff;
				text-decoration: none;
			}
		}
	}
	
	select{
		display: inline-block;

		@include respond(medium){
			display: none;
		}

		option{
			font-weight: bold;
		}
	}

	ul{
		display: none;

		@include respond(medium){
			display: block;
		}
	}
}

.container-top.top-subnav{
	padding-bottom: 0px;
}
