.container-bottom{
	.main-content, .sidebar-content{
		margin-top: 20px;
	}
}

.bottom-theme-2 {
	.main-content, .sidebar-content{
		margin-top: 0px;
	}
}

.bottom-search{
	.main-content{
		padding-right: 0px;
	}
}



