.container-logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #FFF;
	z-index: $headerZindex;
	transition: $nav-transition;

	@include respond(small){
		border-bottom: 1px solid $nav-Bkg-desktop;
	}

	@include respond(large){
		border-bottom: none;
		position: relative;
		height: 0;

		.row {
			position: relative;
		}
	}

	.show-nav & {
		transform: translateX($mobile-nav-width*-1);
		transform: translate3d($mobile-nav-width*-1,0,0);

		//IE8
		.no-csstransforms & {
			position: relative;
			left: $mobile-nav-width*-1;
		}

		@include respond(large){
			transform: translateX(0);
			transform: translate3d(0,0,0);
		}
	}

	.UT-logo {
		position: absolute;
		left: 50%;
		margin: 0 0 0 -48px;
		width: 95px;
		height: 40px;
		top: 5px;
		background: url('../img/general/logo.svg') center center no-repeat;
		background-size: 100% 100%;

		@include respond(large){
			left: $column-gutter / 2;
			margin: 0;
			width: 184px;
			height: 81px;
			top: 65px;
		}
	}

	.no-svg .UT-logo {
		position: absolute;
		left: 50%;
		margin: 0 0 0 -48px;
		width: 95px;
		height: 40px;
		top: 5px;
		background: url('../img/general/logo.png') center center no-repeat;
		background-size: 100% 100%;

		@include respond(large){
			left: $column-gutter / 2;
			margin: 0;
			width: 184px;
			height: 81px;
			top: 65px;
		}
	}

	.UT-logo-link {
		display: block;
		height: 100%;
	}

	.UT-nav-hamburger{
		display: block;				
		color: $hamburgerBrown;
		text-decoration: none;
		float: right;
		height: 50px;
		line-height: 50px;
		padding: 0 10px;
		font-size: rem-calc(20);

		@include respond(large){
			display: none;
		}
	}

}