.container-nav {

	@include respond(large){
		height: rem-calc(121);

		.column {
			position: static;
		}
	}

	&.container{
		@include respond(small-only, medium-only){
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.nav {
		list-style: none;
		margin: 15px 0 0 0;
		padding: 0;

		@include respond(large){
			float: right;
			margin-top: rem-calc(70);
		}
	}


	li.nav-item{
		border-bottom:1px solid $nav-constituents-bkg;
		margin: 0;
		padding: 0;

		&:first-child{
			border-top: 1px solid $nav-constituents-bkg;
		}

		@include respond(large){
			border: none;
			float: left;
			margin: 0 0 0 rem-calc(25);
			height: 44px;

			&:first-child{
				border: none;
			}
		}

		@include respond(xlarge){
			margin-left: rem-calc(30);
		}

	}

	.nav-link {
		color: #fff;
		display: block;
		padding:18px 15px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: rem-calc(13);
		font-family: $opensans;
		font-weight: bold;
		position: relative;

		@include respond(large){
			color: $burntGrey;
			padding: 0;
			font-size: rem-calc(14);
			outline: none;

			&.open,
			&:focus {
				color: $burntOrange;
			}


		}

		&:before {

			@include icon(chevron-down);
			font-size: rem-calc(10);
			position: absolute;
			right: 15px;

			@include respond(large){
				content: '';
				position: absolute;
				display: none;
				top: rem-calc(31);
				left: 50%;
				right: auto;
				margin-left: -14px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 14px 13px 14px;
				border-color: transparent transparent #ebe8e2 transparent;
				transition: opacity .1s 0s ease-in-out;
			}
		}


		&.open:before {
			display: block;

		}
	}


	//Button type link

	li.nav-item-button {
		background-color: $nav-constituents-bkg;
		border-bottom: 1px solid $nav-constituents-border;

		.nav-link:before {
			@include icon(buttons);
			font-size: rem-calc(15);
		}
	}

	.sub-nav-wrapper {
		display: none;

		@include respond(large){
			position: absolute;
			display: block;
			visibility: hidden;
			opacity: 0;
			max-height: 0;
			overflow: hidden;
			width: 100%;
			left: 0;
			top: 100%;
			margin-top: -7px;
			z-index: $navZindex;
			background: $nav-Bkg-desktop;
			transition: opacity .25s 0s, max-height 0 .25s, visibility 0s .25s;

			&.open {
				max-height: 600px;
				visibility: visible;
				opacity: 1;
				transition: opacity .25s 0s, max-height 0, visibility 0s 0s;
			}
		}

	}

	.sub-nav-row {
		@include respond(large){
			max-width: $row-width;
			margin: 0 auto;
		}
	}

	.sub-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;

		@include respond(large){
			margin: 15px auto;

			&.sub-nav-has-feature {
				width: 50%;
				margin-right: 0;
			}

			.sub-nav-item {
				position: absolute;
			}

		}

	}

	.sub-nav-link {
		font-family: $opensans;
		font-size: rem-calc(14);
		line-height: rem-calc(18);
		border-top: 1px solid $nav-constituents-bkg;
		color: #fff;
		display: block;
		text-decoration: none;
		padding: 11px 15px 11px 40px;
		overflow: hidden;

		&:before {
			content: '\2014';
			position: absolute;
			left: 18px;

		}

		@include respond(large){
			color: $burntGrey;
			border-top: none;
			border-bottom: 1px solid #FFF;
			margin: 0 10px;
			font-size: rem-calc(16);
			line-height: rem-calc(20);
			padding: 0;
			position: relative;
			height: 57px;

			&:before {
				display: none;
				@include icon(buttons);
				position: absolute;
				right: 12px;
				left: auto;
				top: 2px;
				line-height: 57px;
			}

			&:hover {
				background-color: $burntOrange;
				color: #FFF;
			}

			&:hover:before {
				display: block;
			}

			span {
				position: absolute;
				width: 100%;
				display: block;
				padding: 0 22px 0 15px;
				top: 50%;
				transform: translateY(-50%);

				.no-csstransforms & {
					top: 10px;
				}
			}

		}
	}

	.item-last .sub-nav-link {
		border-bottom: none;
	}

	//Sub Nav Feature
	.sub-nav-feature {
		float: left;
		width: 50%;
		border: 1px solid $lightGreyDivider;
		background: #FFF;
		color: $burntGrey;
		margin: 0 0 20px 0;
		display: table;

		.feature-image {
			width: 280px;
			padding-bottom: 0px;
			display: table-cell;

			img {
				width: 100%;
				max-width: 100%;
			}
		}

		.feature-content {
			padding: 10px 15px 0 15px;
			display: table-cell;
			vertical-align: top;
			height: 100%;
		}

		.feature-headline {
			color: $burntOrange;
			font-size: 22px;
			font-weight: 500;
		}

		.feature-text {
			font-family: $charis;
			margin: 0 0 10px 0;
			font-size: rem-calc(15);
			line-height: rem-calc(22);
			p {
				font-size: inherit;
				line-height: inherit;
			}
		}

		.feature-cta {
			font-size: 16px;
		}
	}

	//Mobile Nav
	@include respond(small-only,medium-only){
		.nav-active {
			background: $nav-selected-Bkg;

			.nav-link {
				color: $burntOrange;
			}

			.nav-link:before {
				@include icon(chevron-up);
			}

			.sub-nav-wrapper {
				display: block;
			}
		}
	}


}
