.container-topnav {

	@include respond(large){
		background: $hamburgerBrown;
		height: $topnav-height;
		color: #FFF;
		width: 100%;
		margin: 0;
	}

	&.container{
		@include respond(small-only, medium-only){
			padding-left: 0px;
			padding-right: 0px;
		}	
	}
	
	.nav-item-desktop{
		display: none;
		@include respond(large){
			display: block;
		}
	}
	
	.topnav-constituents {
		overflow: hidden;
		margin: 0;
		padding: 0;	
		list-style: none;

		@include respond(large){
			@include inline-list;
			float: left;
			font-weight: bold;
			margin-left: rem-calc(-40);
			margin-bottom: 0;
		}		

		li.nav-item {			
			width: 50%;
			padding: 0;
			text-align: center;			
			float: left;
			background: $nav-constituents-border;

			@include respond(large){
				background: none;
				margin-left: rem-calc(40);
				width: auto;
				padding: 0;
			}
		}

		.nav-link {
			color:#fff;
			text-decoration: none;
			display: block;
			margin: 0 1px 1px 0;
			background:$nav-constituents-bkg;	
			font-size:rem-calc(14);
			line-height: rem-calc(49);

			@include respond(large){
				line-height: $topnav-height;
				background: none;
				margin: 0;

				&:hover,
				&:focus {
					text-decoration: underline
				}

			}
		}	

		.nav-item:nth-child(n+3) .nav-link{
			margin-bottom: 0;
		}

		.nav-item:nth-child(2n) .nav-link{
			margin-right: 0;
		}
	}



	
	.topnav-links {
		margin: 0;
		padding: 0 rem-calc(15);
		list-style: none;
		text-align: center;
		font-size: 0;

		@include respond(large){
			@include inline-list;
			margin-bottom: 0;
			float: right;
			width: 594px;
		}
	}



	.nav-search-container {
		height: 35px;		
		background-color: #fff;
		margin: rem-calc(15) 0 0 0;
		position: relative;

		@include respond(large){
			border-radius: 15px;
			background-color: #cdcbc9;
			margin: rem-calc(8) rem-calc(22) 0 rem-calc(0);
			height: 30px;
			width: 220px;
		}


		input.nav-search-input {
			float: left;
			border: none;
			background: none;
			height: 100%;
			padding: 0 30px 0 10px;
			width: 100%;
			color: #000;
			font-size: rem-calc(14);
			outline: none;

			//IE chokes on webkit selector
			&.placeholder
			 {
				font-style: italic;
				color: #000;
			}

			&::placeholder {
				font-style: italic;
				color: #000;
			}

			@include respond(large){
				margin: 0 0 0 17px;
				padding: 0;
			}
		}

		.nav-search-button {
			position: absolute;
			top: 0;
			right: 0;
			background: none;
			border: none;
			height: 100%;
			padding: 0;
			color: $burntOrange;
			margin-right: 10px;
			font-size: rem-calc(22);
			@include respond(large){
				color: $nav-Bkg;
			}
		}
	}



	li.nav-item-info {

		text-align: center;
		margin: 12px 0 0 0;
		padding: 0;
		width: 33.333%;
		padding: 0 4px;
		display: inline-block;

		&.first {
			padding-left: 0;
		}
		
		&.last {
			padding-right: 0;
		}

		@include respond(large){
			margin: 0 0 0 10px;
			padding: 0;
			text-align: left;
			width: auto;

			&.first, &.mid, &.last{
				margin-top: 16px;
				margin-bottom: 10px;
				height: 15px;
				line-height: 15px;
				padding-left: 9px;

				.nav-link{
					line-height: inherit;
				}

			}
			 //Add a border left
			 &.mid, &.last{
			 	border-left: 1px solid #fff;
			 }

		}
		
		.nav-link {
			color:#fff;
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
			background:$nav-constituents-bkg;
			height: 30px;
			line-height: 30px;	
			font-size: rem-calc(12);

			@include respond(large){
				font-size: rem-calc(13);
				background: none;
				width: auto;
				line-height: $topnav-height;

				&:hover,
				&:focus {
					text-decoration: underline
				}				
			}
		}
	}




	//Apply and Give Buttons
	li.nav-item-button {
		margin: 5px;
		display: inline-block;
		@include respond(large){
			margin:0;
			margin-left:rem-calc(10);
			
		}
	}
	/* top nav buttons */
	.nav-link-button {
		margin: rem-calc(8) 0 0 0;
		line-height: #{$topnav-height - rem-calc(18)};
		width: rem-calc(70);
		font-size: rem-calc(13);
		font-weight: bold;
		text-align: center;
		border: 1px solid #9b9795;
		background-color: #ebe7e1;
		color: #392f2d;
		text-decoration: none;
		display: block;
		&:hover {
			background-color: #6a6361; 
			color: #fff;
		}
	}
}

